<div class="jumbotron">
  <div class="container">
    <h1>Get a Hold of Me!</h1>
    <p>
      <span class="glyphicon glyphicon-phone-alt"></span> Call Me 801.555.1234
    </p>
    <p>
      <span class="glyphicon glyphicon-envelope"></span> Email Address - 
    </p>
    <p>Twitter - </p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
