<h1> You did it Sucker </h1>
        <h2>You signed up for a dope portfolio </h2>
        <p>your login credentials are:</p>
        <p>email: <%= @user.email %></p>
        <p> if you need to reset you password, <%= link_to 'click here',    new_user_password_url %></p>
<p> good luck </p>