$blue: #004B76;
$primary-color: $blue;

@import "bootstrap_changes";
@import "static_pages";
@import "posts";
@import "pictures";


a {
  text-decoration: none;
}


body {background:url('bg-notebook.png')

}

 